<div class="h-full flex flex-col justify-between">
  <div class="chat flex flex-col gap-2">
    <gpt-message [message]="'Todos los audios generados son por IA'" />
    @for (message of messages(); track $index) {
      @if (message.isGpt) {
        <gpt-message [message]="message.text" [audioUrl]="message.audioUrl" />
      } @else {
        <my-message [message]="message.text" />
      }
    }
    @if (isloading()) {
      <chat-loader />
    }
  </div>

  <text-message-box-select
    [placeholder]="'Escribir....'"
    [options]="voices()"
    (onSendMessage)="getMessage($event)"
  />
</div>
