<div class="h-full flex flex-col justify-between">
  <div class="chat flex flex-col gap-2 overflow-y-scroll scroll-auto">
    <gpt-message [message]="'Qué deseas corregir?'" />

    @for (message of messages(); track $index) {
      @if (message.isGpt) {
        <!-- <gpt-message [message]="message.message" /> -->
        <gpt-message-orthography
          [message]="message.text"
          [errors]="message.info!.errors"
          [userScore]="message.info!.userScore"
        />
      } @else {
        <my-message [message]="message.text" />
      }
    }
    @if (isLoading()) {
      <chat-loader />
    }
  </div>
  <text-message-box
    [placeholder]="'escribe....'"
    (onSendMessage)="handleMessage($event)"
    [disableCorrection]="true"
  />
</div>
