<div class="h-full flex flex-col justify-between">
  <div class="flex flex-col gap-2">
    @for (message of messages(); track $index) {
      @if (message.isGpt) {
        <gpt-message [message]="message.message" />
      } @else {
        <my-message [message]="message.message" />
      }
    }
    @if (isloading()) {
      <chat-loader />
    }
  </div>

  <text-message-box-select
    [placeholder]="'Escribir....'"
    [options]="[
      { id: '1', text: 'Hola' },
      { id: '2', text: 'Adios' }
    ]"
    (onSendMessage)="getMessage($event)"
  />
</div>
