/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #101010;
  --text-color: #ffffff;
  --text-color-light: rgba(255, 255, 255, 0.5);
}

.chat {
  height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat::-webkit-scrollbar {
  width: 0.6em;
}

.chat::-webkit-scrollbar-track {
  background: transparent;
}
.chat::-webkit-scrollbar-thumb {
  background: #bb8f00;
  border-radius: 0.625em;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
